{% extends 'layout.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="utf-8"
          <title>Feedback Form</title>
</head>

<body style="max-width: 700px; margin: auto">

<form action="https://formsubmit.co/marcus.rein@gmail.com" method="POST">
    <input type="text" name="_honey" style="display:none">
    <input type="hidden" name="_next" value="https://www.crossfitwarmup.com/thanks">
    <input type="hidden" name="_subject" value="New submission!">
    <input type="text" name="firstname" placeholder="First Name"required>
    <input type="text" name="lastname" placeholder="Last Name"required>
    <input type="email" name="email" placeholder="Email Address" required>
    <input type="text" name="feedback" placeholder="Write Your Message Here" required>

     <button type="submit">Send</button>
</form>


</html>
</body>
{% endblock %}