{% extends 'layout.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
</head>
<body>

<div class="jumbotron text-center" style="max-width: 700px; margin: auto">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead">Your feedback means a TON to me! Thank you for trying out the CrossFit Warmup Generator</p>
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="www.crossfitwarmup.com" role="button">Back to the Homepage</a>
  </p>
</div>


</body>
</html>

{% endblock %}