

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-number {
  position: absolute;
  left: 5px;
  top: 5px;
  background: #007bff;
  color: white;
  padding: 4px;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 50%;
}

.card-deck .card {
  margin-top: 15px;
}

.sidebar .card-img-top {
  height: 80%;
}

.sidebar .accordion > .card > .card-header {
  margin-bottom: 0px;
}
.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow-y: scroll;
  float: none;
  width: 100%;
  padding: 48px 0 0;
  display: flex;
  flex-flow: column;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: initial;
  }
}

.content {
  /* Content fills the rest of the container*/
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
}

.bg {
  /* The image used */
  background-image: url("https://c0.wallpaperflare.com/preview/18/189/150/barbell-building-challenge-dark.jpg");

  /* Full height */
  height: 100vh;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-image {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.collapse.in {
  height: auto !important;
  overflow-y: scroll;
  max-height: 400px;
}

.navbar {
  padding: 0rem 1rem;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: grey;
}

.navbar-brand{
  margin: 0 auto;
}

.mt-4,
.my-4 {
  margin-top: 0.5rem !important;
}

/* does not respond */
/* @media (min-width: 576px) */
/* .ml-sm-auto, .mx-sm-auto { */
/*     margin-left: auto!important; */
/*     padding-left: 50px; */
/* } */

.special {
  margin: 0 auto;
  width: 100%;
}

.special .btn {
  flex: 1;
}

.first-color-thing {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #cacaca;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  z-index: 1;
  color: white;
  text-decoration: none;
  background-color: #cacaca;
}

.accordion button {
  outline: none !important;
  box-shadow: none !important;
}

.accordion button span:first-child:before {
  width: 1.25em;
  position: relative;
  bottom: -1px;
  left: -10px;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: .5em 50%;
  display: inline-block;
  transform: rotate(90deg);
}

.accordion button.collapsed span:first-child:before {
  transform: rotate(0deg);
}

/****** Statistic ******/
.statistic {
  margin: 1em 0;
  display: inline-block;
}
.statistic .value {
  font-size: 4em;
  line-height: 1em;
  text-align: center;
}
.statistic .value.text {
  font-size: 2em;
  font-weight: bold;
}
.statistic .value img {
  max-height: 0.8em;
  vertical-align: baseline;
}
.statistic .label {
  color: inherit;
  display: block;
  text-transform: uppercase;
  font-size: 1em !important;
  text-align: center;
}
.statistic + .statistic {
  margin-left: 1.5em;
}
/*** Horizontal Statistic ***/
.statistic.horizontal .value,
.statistic.horizontal .label {
  display: inline;
  vertical-align: middle;
}
/****** Statistic Group ******/
.statistic-group {
  margin: 1em 0;
}
.statistic-group .statistic {
  display: inline-block;
}
/*** Horizontal Statistic Group ***/
.statistic-group.horizontal .statistic {
  display: block;
}
.statistic-group.horizontal .statistic .value,
.statistic-group.horizontal .statistic .label {
  display: inline;
  vertical-align: middle;
}
.statistic-group.horizontal .statistic + .statistic {
  margin-left: 0;
}
/*** Float Statistics ***/
.statistic.pull-left {
  margin-right: 1em;
}
.statistic.pull-right {
  margin-left: 1em;
}
/****** Statistic Sizes ******/
.statistic.mini .value {
  font-size: 1em;
  font-weight: bold;
}
.statistic.tiny .value {
  font-size: 2em;
}
.statistic.small .value {
  font-size: 3em !important;
}
.statistic.large .value {
  font-size: 5em;
}
.statistic.huge .value {
  font-size: 6em;
}
/****** Statistic Types ******/
.statistic.primary {
  color: #337ab7;
}
.statistic.success {
  color: #5cb85c;
}
.statistic.info {
  color: #5bc0de;
}
.statistic.warning {
  color: #f0ad4e;
}
.statistic.danger {
  color: #d9534f;
}
.statistic.inverted {
  color: white;
}

.img-wrapper {
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 10px;
  height: 300px;
  position: relative;
}

.img-wrapper img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.demo-link {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0,.6);
  font-size: 14px;
  border-bottom-left-radius: 3px;

  padding: 3px 5px;
  color: white;
  z-index: 1;
}
