<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.26.0/slimselect.min.css" rel="stylesheet"></link>
    </head>

    <body>
    <h1 class="container"> Welcome to the Warmup Generator!</h1>
    <h3 class="container"><small class="text-muted">Input Your WOD Movements, Categorized By "Easy" and "Tough"</h3> </small>
    <p></p>
    <h5 class="container"><small class="text-muted">You Decide Which WOD Movements are "Easy" and "Tough"</small></h5>

    <form method="POST" action="/" class="container">
        <div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label>
                            Easy Exercises
                        </label>
                        <select multiple id="slim-select1" name="easy_exercises_form">
                            <option></option>
                        {% for i in exercise_keys %}
                            <option>
                                {{ i }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label>
                            Tough Exercises
                        </label>
                            <select multiple id="slim-select2" name="tough_exercises_form">
                                <option></option>
                            {% for i in exercise_keys %}
                                <option>
                                    {{ i }}
                                </option>
                            {% endfor %}
                            </select>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <button type="submit" type="button" class="btn btn-secondary btn-lg" value="submit">Submit</button>
    </form>
    {% if drom_images_dict: %}
    <p></p>
<!--    <div class="container">-->
<!--        <label>METCONS COMPILED</label>-->
<!--            {{ metcons_compiled }}-->
<!--            {{ metcon_reps }}-->
<!--    </div>-->
    <div class="container">
        <p></p>
        <H3>Your Metabolic Warmup</H3>
        {% for metcon in selected_metcon %}
            <div class ="card-deck">
                <div class="card" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ metcon.title() }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">MetCon Warmup</h6>
                        <p class="card-text"> {{ metcon_reps }} </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
        {% endfor %}        </div>
    </div>
    <div class="container">
         <p></p>
        <H3>Your Dynamic Range of Motion Warmup</H3>
        <div class="row row-cols-1 row-cols-md-3">
        {% for k,v in drom_images_dict.items() %}
            <div class ="col mb-4">
                <div class="card" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ k.title() }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">DROM</h6>
                        <img class="card-img-top" src="{{ v }}" alt="Card image cap" />
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

        {% endfor %}

        {% endif %}
        </div>
    </div>
        <div class="container">
        <p></p>
        {% if tough_gymnastics_movements_from_todays_wod: %}
        <H3>Your Gymnastics Warmup</H3>
            <div class ="card-deck">
                {% for k,v in tough_gymnastics_wu_and_reps_dict.items() %}
                    {% for k2,v2 in tough_gymnastics_img_dict.items() %}
                    <div class="card" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ k.title() }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Gymnastics Warmup</h6>
                            <img class="card-img-top" src="{{ v2 }}" alt="Card image cap" />
                            <p class="card-text"> {{ v }} </p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
       </div>
        <div class="container">
        <p></p>
        {% if kb_movements_from_todays_wod: %}
        <H3>Your KB Warmup</H3>
            <div class ="card-deck">
                {% for kb_movement in kb_movements_from_todays_wod %}
                <div class="card" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ kb_movement.title() }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Kettlebell Warmup</h6>
                        <p class="card-text"> {{ kb_warmup }} </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>
    <div class="container">
        <p></p>
        {% if barbell_movements_from_todays_wod: %}
        <H3>Your Barbell Warmup</H3>
            <div class ="card-deck">
                {% for barbell_movement in barbell_movements_from_todays_wod %}
                <div class="card" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ barbell_movement.title() }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Barbell Warmup</h6>
                        <p class="card-text"> {{ barbell_warmup }} </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    </div>

<p></p>
    <div class="container">


{{ droms_compiled }}
        <H3>EasyExercises:</H3>
{{ easy_exercises }}
        <H3>ToughExercises:</H3>

{{ tough_exercises }}

    </div>


    <script>

      new SlimSelect({
        select: '#slim-select1'
      })

        new SlimSelect({
        select: '#slim-select2'
      })

        new SlimSelect({
        select: '#slim-select3'
      })

        new SlimSelect({
        select: '#slim-select4'
      })

        new SlimSelect({
        select: '#slim-select5'
      })

</script>

    </body>
</html>