
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body>
    <h1 class="container"> Welcome to the Warmup Generator</h1>
    <h3 class="container"> Input WOD info, get a warmup designed by a physical therapist/CF coach!</h3>
    <form method="POST" action="/" class="container">
        <div>
            <label>
            How Intense Will Your Workout Be?
            </label>
            <select name="intensity_form">
                <option value="low"> Low </option>
                <option value="medium"> Medium </option>
                <option value="high"> High </option>
            </select>
        </div>
        <div class="form-group">
            <label>
                Exercise 1
            </label>
                <select class="form-control" id="exercise1_dropdown" name="exercise1_form">
                {% for i in exercise_keys %}
                    <option>
                        {{ i }}
                    </option>
                {% endfor %}
                </select>
            <label>
                Check Box If Exercise Is Gnar Gnar
            </label>
                <label class="switch">
                    <input id='exercise1_toggle' type='checkbox' value='Yes' name='exercise1_toggle'>
                    <input id='exercise1_toggle_hidden' type='hidden' value='No' name='exercise1_toggle'>
                    <span class="slider"></span>
                </label>
        </div>
        <div>
        </div>
         <div class="form-group">
            <label>
                Exercise 2
            </label>
                <select class="form-control" id="exercise2_dropdown" name="exercise2_form">
                {% for i in exercise_keys %}
                    <option>
                        {{ i }}
                    </option>
                {% endfor %}
                </select>
            <label>
                Check Box If Exercise Is Gnar Gnar
            </label>
                <label class="switch">
                    <input id='exercise2_toggle' type='checkbox' value='Yes' name='exercise2_toggle'>
                    <input id='exercise2_toggle_hidden' type='hidden' value='No' name='exercise2_toggle'>
                    <span class="slider"></span>
                </label>
        </div>
        <div>
        </div>
        <div class="form-group">
            <label>
                Exercise 3
            </label>
                <select class="form-control" id="exercise3_dropdown" name="exercise3_form">
                {% for i in exercise_keys %}
                    <option>
                        {{ i }}
                    </option>
                {% endfor %}
                </select>
            <label>
                Check Box If Exercise Is Gnar Gnar
            </label>
                <label class="switch">
                    <input id='exercise3_toggle' type='checkbox' value='Yes' name='exercise3_toggle'>
                    <input id='exercise3_toggle_hidden' type='hidden' value='No' name='exercise3_toggle'>
                    <span class="slider"></span>
                </label>
        </div>
        <div>
        <div class="form-group">
            <label>
                Exercise 4
            </label>
                <select class="form-control" id="exercise4_dropdown" name="exercise4_form">
                {% for i in exercise_keys %}
                    <option>
                        {{ i }}
                    </option>
                {% endfor %}
                </select>
            <label>
                Check Box If Exercise Is Gnar Gnar
            </label>
                <label class="switch">
                    <input id='exercise4_toggle' type='checkbox' value='Yes' name='exercise4_toggle'>
                    <input id='exercise4_toggle_hidden' type='hidden' value='No' name='exercise4_toggle'>
                    <span class="slider"></span>
                </label>
        </div>
        <div class="form-group">
            <label>
                Exercise 5
            </label>
                <select class="form-control" id="exercise5_dropdown" name="exercise5_form">
                {% for i in exercise_keys %}
                    <option>
                        {{ i }}
                    </option>
                {% endfor %}
                </select>
            <label>
                Check Box If Exercise Is Gnar Gnar
            </label>
                <label class="switch">
                    <input id='exercise5_toggle' type='checkbox' value='Yes' name='exercise5_toggle'>
                    <input id='exercise5_toggle_hidden' type='hidden' value='No' name='exercise5_toggle'>
                    <span class="slider"></span>
                </label>
        </div>

        <input type="submit" value="submit">
    </form>
    <div>
        <label>METCONS COMPILED</label>
            {{ metcons_compiled }}
            {{ metcon_reps }}
    </div>
    <p></p>
    <div>
        <label>DROMS COMPILED</label>
            {{ droms_compiled }}

    </div>

    </body>
</html>