.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  overflow-y: scroll;
  float: none;
  width: inherit;
  padding: 48px 0 0;
  display: flex;
  flex-flow: column;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: initial;
  }
}

.content {

  /* Content fills the rest of the container*/
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
}


.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  /* Full height */
  height: 100vh;
  width: 100%

  /* Center and scale the image nicely */
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-image {
  width: 100%;
  height: 100vh;
  position: absolute;
}
